/*=======================================
=            Widget Gradient            =
=======================================*/
body #a0-lock,
body #a0-lock.a0-theme-default,
body #a0-widget {
  .a0-panel{
    background-image: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
    color: white;

    .a0-close:hover {
      color: #fff;
    }

    .a0-avatar {
      background: rgba(0, 0, 0, 0.2);
    }

    .a0-avatar i {
      color: #fff;
    }

    .a0-inputs {
      border: 0;
      i{
        color: #ffa4f3 !important;
      }
      input{
        background: transparent;

        &::-webkit-input-placeholder{
          color: white;
        }

        &:focus{
          background-color: transparent;
        }
      }
    }

    .a0-email, .a0-password, .a0-repeatPassword{
      border-color: rgba(255,255,255,.2);
    }

    .a0-separator {
      color: rgba(255, 255, 255, 0.5);
    }

    button.a0-primary {
      background: rgba(0, 0, 0, 0.4);
      border-radius: 100px;
      width: 80%;
    }

    .a0-btn-small {
      border-color: rgba(255, 255, 255, 0.2);
    }

    .a0-btn-small:hover {
      border-color: white;
      background: none;
    }

    .a0-footer .a0-logo i {
      color: white;
    }

    .a0-spinner .a0-spinner-circle-outer .a0-spinner-circle-inner {
      border-top-color: rgba(255,255,255, 0.2);
      border-right-color: rgba(255,255,255, 0.2);
      border-bottom-color: rgba(255,255,255, 0.2);
      border-left-color: rgba(255,255,255, 1);
    }
  }
}


@media screen and (max-width: 480px) {

  body #a0-lock .a0-popup .a0-overlay,
  body #a0-widget .a0-popup .a0-overlay {
    background-image: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
    color: white;

    .a0-panel{
      background: transparent;
    }
  }

}
