/*=======================================
=            Widget Gradient            =
=======================================*/
#a0-widget .a0-panel {
  background-image: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
  color: white;
}
#a0-widget .a0-panel .a0-close:hover {
  color: #fff;
}
#a0-widget .a0-panel .a0-avatar {
  background: rgba(0, 0, 0, 0.2);
}
#a0-widget .a0-panel .a0-avatar i {
  color: #fff;
}
#a0-widget .a0-panel .a0-inputs {
  border: 0;
}
#a0-widget .a0-panel .a0-inputs i {
  color: #ffa4f3 !important;
}
#a0-widget .a0-panel .a0-inputs input {
  background: transparent;
}
#a0-widget .a0-panel .a0-inputs input::-webkit-input-placeholder {
  color: white;
}
#a0-widget .a0-panel .a0-inputs input:focus {
  background-color: transparent;
}
#a0-widget .a0-panel .a0-password,
#a0-widget .a0-panel .a0-repeatPassword {
  border-color: rgba(255, 255, 255, 0.2);
}
#a0-widget .a0-panel .a0-separator {
  color: rgba(255, 255, 255, 0.5);
}
#a0-widget .a0-panel button.a0-primary {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  width: 80%;
}
#a0-widget .a0-panel .a0-btn-small {
  border-color: rgba(255, 255, 255, 0.2);
}
#a0-widget .a0-panel .a0-btn-small:hover {
  border-color: white;
  background: none;
}
#a0-widget .a0-panel .a0-footer .a0-logo i {
  color: white;
}
@media screen and (max-width: 480px) {
  #a0-widget .a0-popup .a0-overlay {
    background-image: linear-gradient(to bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%);
    color: white;
  }
  #a0-widget .a0-popup .a0-overlay .a0-panel {
    background: transparent;
  }
}
